<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - LSDFailTools</title>
      {% else %}
      <title>LSDFailTools</title>
      {% endif %}
    </head>
    <body>
      <ul>
      {% if user.is_authenticated %}
      <li><a href="/logout">Logout</a></li>
      <li><a href="/new">New Run</a></li>
      {% else %}
      <li><a class="button" href="/login">Google Login</a></li>
      {% endif %}
      </ul>
      
      {% block content %}{% endblock %}
    </body>
</html>
